
body {
	background-color: #ff1493;
    
}

ul {
	list-style-type: none;
}

.topnav {
	background-color:#8a2be2;
	overflow:hidden;
}

.topnav a {
	float: left;
	color: #7fff00;
	text-align: center;
	padding: 16px 40px;
	text-decoration: none;
	padding-left:130px;
	padding-right:130px ;
	font size: 90px;
}

.topnav a:hover{
	background-color:#7fff00;
	color :#8a2be2;
}

h1 {
	font-size:50px;
	color:#7fff00;
}

p {
	font-size:25px;
	color:#7fff00;
}

#photoHome {
	background: url("homePhoto.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height:200px;
	padding: 60px 60px;
}

a {
	color:#7fff00;
	padding: 20px 20px;
}

a:hover {
  color:#8a2be2;
}

img {
   border-color: #8a2be2;
   border-width: 5px;
   border-style: solid;
   border-radius: 10%;
}


#Scene {
	padding-left: 200px;
}

#McBling {
	padding-left: 200px;
}

#HipHop {
	padding-left: 200px;
}


