
body {
	background-color: #ff1493;
    
}

ul {
	list-style-type: none;
}

.topnav {
	background-color:#8a2be2;
	overflow:hidden;
}

.topnav a {
	float: left;
	color: #7fff00;
	text-align: center;
	padding: 16px 16px;
	text text-decoration: none;
	font size: 70px;
}

.topnav a:hover{
	background-color:#7fff00;
	color :#8a2be2;
}

h1 {
	font-size:50px;
	color:#7fff00;
}

p {
	font-size:25px;
	color:#7fff00;
}

#photoHome {
	background: url("homePhoto.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height:200px;
	padding: 60px 60px;
}

a {
	color:#7fff00;
	padding: 20px 20px;
}

